@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  /* --secondary-text-color: #eaffff; */
  --secondary-text-color: #fcfcfcbc;
  --background-color: #0e1414;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "poppins", sans-serif;
  color: #fff;
  background-color: var(--background-color);
  background-image: url(/images/about-blur.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-size: 4rem;
  color: #fff;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility classes */
.container {
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.hover-link {
  color: #fff;
  transition: 0.2s ease-out;
}

.hover-link.active {
  color: var(--accent-color);
}

.hover-link:hover {
  color: var(--accent-color);
}

.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 17px 34px;
  text-align: center;
  /* transition: all .2s !important; */
}

.primary-button:hover {
  background-color: var(--accent-color-dark);
}

.secondary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 700;
  color: #fff !important;
  padding: 12px 24px;
  transition: 0.2s ease-out;
}

.secondary-button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}

/* nav-bar */
.main-nav {
  margin-top: 20px;
  justify-content: space-between;
  position: relative;
}

.company-logo img {
  width: 150px;
}

.brand-logo {
  color: #fff;
  font-size: 30px;
}

.nav-links ul {
  gap: 40px;
}

.nav-toggle {
  color: #fff;
  font-size: 2rem;
  font-weight: lighter;
  display: none;
}

/* Main Container */
.about-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.about-description {
  text-align: center;
  width: 40rem;
}

.about-description h1 {
  margin-bottom: 2rem;
}

.about-description p {
  margin-bottom: 1rem;
  line-height: 2rem;
}

/* Team Section */

.team-container {
  padding: 5rem 2rem;
}

.cards-container {
  display: flex;
  margin: 4rem 0;
  gap: 5rem;
}

.card-top {
  display: flex;
}

.team-container img {
  width: 15rem;
  border-radius: 0.5rem;
}

.team-container .text {
  margin-left: 2rem;
}

.team-container .text h3 {
  margin-bottom: 0.8rem;
}

.team-container .text i {
  margin: 1rem 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.card-bottom {
  margin-top: 2rem;
}

.card-bottom p {
  line-height: 2rem;
}

.career-head {
  text-align: center;
}

.career-head p {
  color: var(--accent-color);
}

.career-bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 4rem 0;
}

.career {
  margin: 1rem;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 0.5rem;
  padding: 2rem;
}

.career img {
  width: 5rem;
  background-color: #182222;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.career h4 {
  margin-bottom: 1.5rem;
}

.career p {
  line-height: 2rem;
}

/* Grow Section */
.grow-container {
  display: flex;
  margin: 5rem 0;
  align-items: center;
}

.grow-container .grow-description h2 {
  margin-bottom: 2rem;
}

.grow-container .grow-description p {
  line-height: 2rem;
}

.grow-container .grow-description i {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.grow-container img {
  width: 35rem;
}

/* footer */

footer {
  padding-block: 80px;
  background: color #ebf2fa;
}

.link-column {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-container {
  align-items: flex-start;
  justify-content: space-between;
}

footer .brand-logo {
  margin-bottom: 30px;
}

footer .hover-link i {
  margin-right: 15px;
  margin-bottom: 20px;
}

/* Newsletter */
.newsletter {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.newsletter h2 {
  width: 25rem;
}

.newsletter .form {
  border: 1px solid #b9cde4;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
}

.newsletter input {
  padding: 1rem 10rem 1rem 1rem;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  outline: none;
  color: #fff;
}

.newsletter input::placeholder {
  color: #fff;
}

/* subfooter */
.subfooter {
  border-top: 1px solid #b9cde4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}

.sub-footer-container {
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
